.hovertable tr:hover {
	background-color: #eee;
}
.hovertable tr td {
	padding: 0.2em;
}
.pullthleft th {
	text-align: left;
}
th {
	padding: 0.8em 0.2em;
}
body {
	padding-bottom: 1em;
}
.warning {
	font-size: 110%;
	padding: 0.6em;
	margin: 0.2em;
	border: 1px solid #ccc;
	border-radius: 0.3em;
	background-color: #f6cece;
}
.information {
	font-size: 110%;
	padding: 0.6em;
	margin: 0.2em;
	border: 1px solid #ccc;
	border-radius: 0.3em;
	background-color: #E0ECF8;
}
.notice {
	font-size: 110%;
	padding: 0.6em;
	margin: 0.2em;
	border: 1px solid #ccc;
	border-radius: 0.3em;
	background-color: #F2F5A9;
}
